/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #EF4136;
    text-shadow: none;
    color:#fff;
}

::selection {
    background: #EF4136;
    text-shadow: none;
    color:#fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   GLOBAL: layout
   ========================================================================== */

.out {
	width:100%;
}

.in {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}


/* ==========================================================================
   GLOBAL: styles
   ========================================================================== */

body {
	font-family: "fira-mono",monospace;
	background-color:#e6e7e8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "jaf-facitweb",sans-serif;
}

.bg {
	z-index: 1;
	position:fixed;
}

.bg .background {
	overflow:hidden;
}

.bg .background img {
	left: -20%;
	width: 140%;
	position: relative;
}


.blink {
	-webkit-animation:rev-blink 1s infinite;
	animation:rev-blink 1s infinite;
}


.top {
	background-color:#000;
	padding-bottom:150px;
	z-index: 2;
}

.bg-top {
	z-index: 2;
	position: relative;
}

.top .to-mayday {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float:right;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	margin:15px 0 0;
	transition:opacity 0.2s ease;
}

.top .to-mayday:hover {
	opacity:0.5;
}

.top .to-mayday span {
	font-weight:normal;
}

.top .intro-text {
	text-align:center;
}


@-webkit-keyframes blink {
  0%, 100% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
}

@keyframes blink {
  0%, 100% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
}

@-webkit-keyframes rev-blink {
  0%, 100% {
    opacity:0.5;
  }
  50% {
    opacity:1;
  }
}

@keyframes rev-blink {
  0%, 100% {
    opacity:0.5;
  }
  50% {
    opacity:1;
  }
}

.top h1 {
	font-size: 5.5em;
	line-height: 1.2;
	margin: 40px 0 50px;
	color: #fff;
	letter-spacing: -0.025em;
}

.top h2 {
	font-family: "fira-mono",monospace;
	font-size:0.8em;
	font-weight:normal;
	margin:0 auto 15px;
	width:60%;
	color:#fff;
	line-height:1.6;
}

.top h2 span {
	font-family: "jaf-facitweb",sans-serif;
	font-size:1.75em;
	font-weight:bold;
	color:#000;
	padding:0 8px;
	line-height:0;
	position:relative;
	top:5px;
	background-color:#fff;
}

.top .pledges {
	margin:90px 0 10px;
}

.top .pledges .btn {
	font-family: "jaf-facitweb",sans-serif;
	color:#fff;
	background-color: #00b3f9;
	font-size:2em;
	padding: 12px 70px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: -0.025em;
	float:left;
	border-bottom:6px solid #346693;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	transition:background-color 0.2s ease, color 0.2s ease, border-bottom 0.2s ease;
}

.top .pledges .btn:hover {
	color:#00b3f9;
	background-color:#fff;
	border-bottom:6px solid #aaa;
}

.top .pledges .thermo {
	float:right;
	position:relative;
	width:45%;
	top: 70px;
}

.top .pledges .thermo .bar {
	position:absolute;
	bottom:0;
	left:0;
}

.top .pledges .thermo .goal {
	border-bottom:5px solid #fff;
	width:100%;
}

.top .pledges .thermo .current {
	border-bottom:5px solid #00b3f9;
	width:49%;
}

.top .pledges .thermo .bar .number {
	position:absolute;
	right:-48px;
	top: -65px;
	text-align:center;
	font-family: "jaf-facitweb",sans-serif;
	font-weight:bold;
	font-size:1.5em;
	color:#fff;
	display:inline-block;
}

.top .pledges .thermo .bar .number span {
	font-size:0.25em;
	letter-spacing:0.2em;
	text-transform:uppercase;
	display: block;
	font-family: "fira-mono",monospace;
	font-weight: normal;
}

.top .pledges .thermo .bar.current .number {
	color:#00b3f9;
}

.top .pledges .thermo .bar.current .number span {
	color:#fff;
}

.top .pledges .thermo .bar.goal .number {
	right: -50px;
	text-align: left;
}

.top .pledges .thermo .bar.current .number:after {
	content:'';
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 5px solid #00b3f9;
	position: absolute;
	top: 46px;
	left: 40%;
}

.top .pledges .thermo .bar.goal .number:after {
	content:'';
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	top: 46px;
	left: 4%;
}

.main {
	background-color:#e6e7e8;
	z-index: 2;
	padding:20px 0 80px;
}

.main .vid-gallery {
	margin:50px 0;
}

.main .vid-gallery ul {
	text-align:center;
	list-style:none;
	margin:20px 0 0;
	padding:0;
}

.main .vid-gallery ul li {
	display:inline-block;
	margin:0 15px 20px 15px;
	vertical-align: top;
}

.main .vid-gallery ul li:first-child {margin-left:0;}
.main .vid-gallery ul li:last-child {margin-right:0;}

.main .vid-gallery ul li a {
	text-decoration:none;
}

.main .vid-gallery ul li .thumb {
	display:inline-block;
	border:4px solid #fff;
	box-shadow:0 0 25px rgba(0,0,0,0.15);
	position: relative;
}

.main .vid-gallery ul li .thumb div {
	overflow:hidden;
	width: 150px;
	height: 90px;
}

.main .vid-gallery ul li .active .thumb, .main .vid-gallery ul li a:hover .thumb {
	border:4px solid #00b3f9;
}

.main .vid-gallery ul li .active .thumb:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 5px solid #00b3f9;
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -5px;
}

.main .vid-gallery ul li .thumb img {
	width:110%;
	margin:-5px -5% 0 0;
}

.main .vid-gallery ul li h5 {
	color:#222;
	text-decoration:none;
	font-size:1em;
	margin: 8px 0 0;
	line-height:1.1;
}

.main .vid-gallery ul li p {
	color:#A7A9AC;
	color:rgba(0,0,0,0.6);
	text-decoration:none;
	font-size:0.75em;
	margin:4px 0 0;
	line-height:1.1;
}

.main .vid-gallery h4 {
	text-transform:uppercase;
	text-align:center;
	font-size:0.65em;
	letter-spacing:0.2em;
}

.main h3, .mayday h3 {
	font-size: 3.5em;
	line-height: 1.15;
	border-bottom: 6px solid #222;
	padding: 0 0 10px;
	margin-bottom: 40px;
}

.main p, .mayday p {
	font-size: 1.1em;
	line-height: 1.5;
	color: #555;
	color:rgba(0,0,0,0.7)
}

.main p a, .mayday p a {
	color:#00b3f9;
	font-weight:bold;
	text-decoration:underline;
	transition:text-decoration 0.2s ease, opacity 0.2s ease;
}

.main p a:hover, .mayday p a:hover {
	text-decoration:none;
	opacity:0.5;
}

.main .errors {
	font-family:Chicago, "fira-mono",monospace;
	margin: 40px 0 130px;
}

.main .errors ul {
	text-align: center;
	padding-left: 4%;
}

.main .errors li {
	display:inline-block;
	background-color:#fff;
	border: 5px solid #fff;
	box-shadow:0 0 40px rgba(0,0,0,0.3);
	list-style:none;
	width: 255px;
	min-height: 80px;
	position: relative;
	text-align: left;
}

.main .errors li div {
	border:2px solid #222;
	padding: 18px 20px 15px 85px;
	background-image:url('../images/error.svg');
	background-repeat:no-repeat;
	background-size:50px 50px;
	background-position: 20px 18px;
}

.main .errors li.sopa, .main .errors li.net-neutrality {
	z-index: 8;
}

.main .errors li.patents, .main .errors li.privacy {
	z-index: 7;
}

.main .errors li.patents {
	top: 40px;
	left: -20px;
}

.main .errors li.sopa {
	left: -40px;
}

.main .errors li.privacy {
	top: 40px;
	left: -60px;
}

.main .errors li h5 {
	font-size:1em;
	font-family:Chicago, "fira-mono",monospace;
	margin: 0 0 5px;
}

.main .errors li p {
	font-size:0.75em;
	color:#808285;
	margin: 0 0 15px;
}

.main .errors li a {
	color:#222;
	text-decoration:none;
	padding: 3px 8px;
	float: right;
	border:1.5px solid #222;
	border-radius:8px;
	font-size:0.75em;
	margin-top:-20px;
	cursor:pointer;
}

.main .vid {
	margin:40px auto 60px;
	border: 6px solid #e6e7e8;
	box-shadow:0 0 50px rgba(0,0,0,0.2);
	max-width:90%;
}

.main .vid.big-vid {
	max-width:100%;
  margin: -80px auto 50px;
	border: 8px solid #e6e7e8;
	box-shadow: 0 0 120px rgba(0,0,0,0.4);
}

.main .vid-contain {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.main .vid-contain iframe, .main .vid-contain object, .main .vid-contain embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mayday {
	z-index:10;
	background-color:#fff;
	position: relative;
	padding:20px 0 150px;
}

.mayday:before {
	content:'';
	width:100%;
	height:12px;
	display: block;
	position: absolute;
	top: 0;
	background: #00b3f9; /* Old browsers */
	background: -moz-linear-gradient(top, #00b3f9 0%, #00b3f9 33%, #ffffff 33%, #ffffff 68%, #ef4136 68%, #ef4136 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b3f9), color-stop(33%,#00b3f9), color-stop(33%,#ffffff), color-stop(68%,#ffffff), color-stop(68%,#ef4136), color-stop(99%,#ef4136)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b3f9 0%,#00b3f9 33%,#ffffff 33%,#ffffff 68%,#ef4136 68%,#ef4136 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b3f9 0%,#00b3f9 33%,#ffffff 33%,#ffffff 68%,#ef4136 68%,#ef4136 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b3f9 0%,#00b3f9 33%,#ffffff 33%,#ffffff 68%,#ef4136 68%,#ef4136 99%); /* IE10+ */
	background: linear-gradient(to bottom, #00b3f9 0%,#00b3f9 33%,#ffffff 33%,#ffffff 68%,#ef4136 68%,#ef4136 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3f9', endColorstr='#ef4136',GradientType=0 ); /* IE6-9 */
}

.mayday .legal {
	font-size: 0.7em;
	margin: 70px 0 0;
	border: 2px solid #eee;
	padding: 15px 20px;
	text-align: center;
	color: #888;
}

.mayday .legal a {
	font-weight:normal;
}

.cta {
	background-color:#00b3f9;
	box-shadow:0 0 50px rgba(0,0,0,0.2);
	text-align:center;
	padding:23px 0 20px;
	position:fixed;
	z-index:10;
	bottom:-120px;
	transition:bottom 0.5s ease;
}

.cta.fix {
	position:fixed;
	bottom:0;
}

.cta p {
	color:#fff;
	display:inline-block;
	text-align:right;
	width:25%;
	margin:0;
	vertical-align: middle;
}

.cta a {
	color:#222;
	display:inline;
	background-color:#fff;
	font-family: "jaf-facitweb",sans-serif;
	font-size:1.7em;
	padding:6px 20px;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:-0.025em;
	margin-left:10px;
	vertical-align: middle;
	transition:background-color 0.2s ease, color 0.2s ease;
}

.cta a:hover {
	background-color:rgba(0,0,0,0.5);
	color:#fff;
}

.tooltip {
	background: url('../images/tooltip.svg') no-repeat 0 0;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: relative;
	top: -5px;
	left:4px;
	cursor:pointer;
}

.tooltip:hover, .main p .tooltip:hover {
	opacity:1;
}

.social {
	text-align: center;
	margin-bottom:80px;
}

.social .share {
	display: inline-block;
	margin:10px 30px;
}

.social .share.tw {
	position: relative;
	top: 7px;
	left: 18px;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media (max-width: 1080px) {
    
    .main .vid-gallery ul li .thumb div {
		width: 140px;
		height: 85px;
	}
	
	.main .vid-gallery ul li h5, .main .vid-gallery ul li p {
		max-width: 140px;
	}
	
	.main .vid-gallery ul li {
		margin: 0 10px 20px 10px;
	}
	
}

@media (max-width: 1000px) {
    .bg .background img {
		left: -40%;
		width: 180%;
	}
	
}

@media (max-width: 900px) {
    .bg .background img {
		left: -50%;
		width: 200%;
	}
	
	.top h2 {
		width: 70%;
	}
	
	.top h1 {
		font-size: 5em;
	}
	
}

@media (max-width: 850px) {
    
    .main .vid-gallery ul li .thumb div {
		width: 120px;
		height: 70px;
	}
	
	.main .vid-gallery ul li h5, .main .vid-gallery ul li p {
		max-width: 120px;
	}
	
	.main .vid-gallery ul li {
		margin: 0 8px 20px 8px;
	}
	
	.main .vid-gallery ul li h5 {
		margin: 6px 0 0;
		font-size: 0.9em;
	}
	
}


@media (max-width: 800px) {
    .bg .background img {
		left: -60%;
		width: 220%;
	}
	
	.in {
		width: 85%;
	}
	
	.top h1 {
		font-size: 4.5em;
	}
	
	.top h2 {
		width: 80%;
	}
	
	.top .pledges .btn {
		padding: 12px 45px;
	}
	
	.top .pledges .thermo {
		margin-right: 3%;
	}

}

@media (max-width: 700px) {
    .bg .background img {
		left: -80%;
		width: 260%;
	}
	
	.top h2 {
		width: 90%;
	}
	
	.top .pledges .btn {
		padding: 12px 30px;
	}
	
	.top .pledges .thermo {
		width: 40%;
	}
	
	.main .vid-gallery ul {
		width: 70%;
		margin: 20px auto 0;
	}
	
	.main .vid-gallery ul li:nth-child(2) {
		margin-right:0;
	}
	
	.main .vid-gallery ul li:nth-child(3) {
		margin-left:0;
	}

}

@media (max-width: 600px) {
    .bg .background img {
		left: -100%;
		width: 300%;
	}
	
	.top h1 {
		font-size: 3.2em;
	}
	
	.top .pledges .btn {
		font-size:1.5em;
		padding: 10px 20px;
	}
	
	.top .pledges .thermo {
		margin-right: 7%;
		top: 60px;
	}
}

@media (max-width: 500px) {
    .bg .background img {
		left: -120%;
		width: 340%;
	}
	
	.cta a {
		font-size: 1.5em;
		padding: 6px 15px;
	}
	.cta p {
		width: 35%;
		line-height: 1.3;
		font-size: 0.8em;
	}
	
	.cta {
		padding: 20px 10px 17px;
	}
	
	.main h3, .mayday h3 {
		font-size: 2.5em;
	}
	
	.main h3, .mayday h3 {
		border-bottom: 5px solid #222;
	}
	
	.main .vid {
		margin: 30px auto 40px;
		border: 4px solid #e6e7e8;
		max-width: 100%;
	}
	
	.main .vid.big-vid {
		border: 5px solid #e6e7e8;
		margin: -80px auto 40px;
		box-shadow: 0 0 70px rgba(0,0,0,0.4);
	}
	
	.main .vid-gallery ul {
		width: 100%;
	}
	
	.top .pledges .btn, .top .pledges .thermo {
		display: block;
		float: none;
	}
	
	.top .pledges .btn {
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
	
	.top .pledges .thermo {
		margin: 120px 0 0;
		width: 90%;
		top:0;
	}
	
	.top {
		padding-bottom: 130px;
	}
	
}

@media (max-width: 400px) {
    .bg .background img {
		left: -150%;
		width: 400%;
	}
	
	.main h3, .mayday h3 {
		font-size: 2em;
		margin-bottom: 25px;
	}
	
	.main p, .mayday p {
		font-size:0.9em;
	}
	
	.cta {
		padding: 18px 3px 15px;
	}
	
	.cta p {
		width: 30%;
		font-size: 0.7em;
	}
	
	.cta a {
		font-size: 1.3em;
		padding: 8px 12px;
		margin-left: 6px;
	}
	
	.top .lead-in {
		margin-top: 30px;
	}
	
	.top h1 {
		margin: 25px 0 40px;
		line-height: 1.1;
	}
	
	.top {
		padding-bottom: 100px;
	}
	
	.top h2 {
		font-size: 0.7em;
		line-height: 1.5;
		width: 100%;
	}
	
	.top .pledges {
		margin: 60px 0 10px;
	}
	
	.top .pledges .thermo {
		width: 85%;
		margin: 105px 0 0;
	}
	
	.main .vid.big-vid {
		margin: -50px auto 70px;
		border: 4px solid #e6e7e8;
	}
	
	.main {
		padding: 30px 0 80px;
	}
	
	.main .errors li.net-neutrality {
		left: -5px;
	}
	
	.main .errors li.patents {
		top: -8px;
		left: -32px;
	}

	.main .errors li.sopa {
		left: -11px;
		top: -15px;
	}

	.main .errors li.privacy {
		top: -25px;
		left: -20px;
	}
	
	.main .errors {
		margin: 40px 0 50px;
	}
	
	.main .vid-gallery ul li .thumb div {
		width: 110px;
		height: 65px;
	}
	
	.main .vid-gallery ul li h5, .main .vid-gallery ul li p {
		max-width: 110px;
	}
	
	.main .vid-gallery ul li {
		margin: 0 5px 20px 5px;
	}
	
	

}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
