/* Header */

#header {
  background: #204659 url('../images/header_short.jpg') no-repeat center top;
  padding-bottom: 15px;
}
#header h3 {
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  padding: 0 0 0;
  height: 158px;
  line-height: 158px;
}
#header h3 span {
  font-weight: normal;
}
#header h3 a {
  color: #fff;
}
#header h3 a:hover {
  text-decoration: none;
}
.topmenu_entire {
  text-align: center;
}
.topmenu_entire a {
  font-weight: bold;
  display: inline-block;
  color: #fff;
  color: rgba(255,255,255,.8);
  padding: 0 1px 1px;
  margin: 10px 10px 0;
  font-size: 1.1em;
  border-bottom: 2px solid rgba(255,255,255,.33);;
}
.topmenu_entire a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #fff;
}

/*Hero Text Row*/
h1#page_title {
  font-size: 2em;
  margin: 10px 0 30px;
  padding: 0;
}

.herotext {
  padding: 20px 0 0 20px;
}

/*Hero Area*/


.slideroption img {
  width: 100%;
  opacity: 0;
  transition: 600ms opacity;
  position: absolute;
  top: 0;
  left: 0;
}
.slideroption img.active {
  opacity: 1;
}


.hero-fw{
  position:relative;
  background-image:url('../images/05-midwest.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  border-bottom:4px solid white;
}
.underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  overflow:hidden;
}
.underlay img{
  width:100%;
  height:100%;
}

.heroarea {
  margin-left:auto;
  margin-right:auto;
  padding-top:50px;
  padding-bottom:50px;

}

.video {
  margin-top:40px;
  margin-bottom:40px;
  margin-left:20px;
  margin-right:20px;
  height:300px;
  border: 3px solid white;
}

.pledgebutton{
  background-color: #9e0b0f;
  color: #ffffcc;
  margin-left:auto;
  margin-right:auto;
  margin:10px 50px;
  padding:10px 20px;
  text-align: center;
  font-size:50px;
  border: 3px solid white;
  z-index:20;
}

.pledgebutton:hover{
  z-index:20;
  box-shadow: 0px 0px 10px #fff;
  text-shadow: 0px 0px 5px #fff;
  text-decoration:none;
}

.checkpoint-text{
  color: #666;
  padding-bottom: 5px;
  text-align:center;
}
#super-cool-progress-bar-togo {
  display: none;
}
#complete-total-raised {
  color:white;
  text-align:center;
}
#super-cool-progress-bar-funded {
  text-align: right;
}

.progress-container {
  margin-top:30px;
  position: relative;
  top: 10px;
}

.progbar {
  margin-top:40px;
  margin-bottom:40px;
  margin-left:20px;
  margin-right:20px;
  padding:30px;
  height:300px;
  background-color: rgba(0, 51, 102, 0.7); /*blue transparency*/
  border: 3px solid white;
}

/*Fancy Progress Bar Stuff*/

.donation-progress-bar {
  background: #838383;
  border-radius: 26px;
  width: 100%;
  height: 26px;
  padding: 0 25px;
  position: relative;
}

.donation-progress-bar > span {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 26px;
  color: #fff;
  position: relative;
  z-index: 2;
  width: 50%;
  float: left;
}

.donation-progress-bar.endless > span {
  width: 50%;
}

.donation-progress-bar.endless em {
  font-style: normal;
}

.donation-progress-bar .donation-progress-funded {
  text-align: center;
}

.donation-progress-bar .donation-progress-togo,
.donation-progress-bar.endless .donation-progress-funded {
  text-align: right;
}

.donation-progress {
  width: 200px;
  height: 26px;
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;

  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

  -webkit-background-size: 26px 26px;
  -moz-background-size:    26px 26px;
  -o-background-size:      26px 26px;
  background-size:         26px 26px;

  -webkit-animation: progress-bar-stripes 1s linear infinite;
  -moz-animation:    progress-bar-stripes 1s linear infinite;
  animation:         progress-bar-stripes 1s linear infinite;
}
.donation-progress {
  background-color: #990000;
}

.donation-progress.gone {
  background-color: #57ad68;
}

@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 26px 0; }
  to    { background-position: 0 0; }
}

@-moz-keyframes progress-bar-stripes {
  from  { background-position: 26px 0; }
  to    { background-position: 0 0; }
}

@keyframes progress-bar-stripes {
  from  { background-position: 26px 0; }
  to    { background-position: 0 0; }
}

/*END Fancy Progress Bar Stuff*/

/*Share Options*/
.donation-share{
  text-align:center;
}

.donation-share-text {
  color:white;
  text-align:center;
  font-size:28px;
  font-style:italic;
}
.donation-share-text a{
  color:white;
}
.donation-share-text a:hover{
  text-shadow: 0px 0px 8px #66ccff, 0px 0px 13px #66ccff ;
  text-decoration:none;
}

.socialmenu{
  background-color:black;
}

.sign-up {
  color:white;
  text-align:center;
  font-size:16px;
  padding:10px;
  border: 1px solid white;
  background-color:#000000;
  height:50px;
}

.sign-up-pledge{
  color:#ffffcc;
  text-align:center;
  font-size:24px;
  padding:6px;
  border: 1px solid white;
  background-color:#FF0000;
  height:50px;
}

.sign-up:hover {
  background-color: #222222;
  color:#ffffcc;
}

.arrowdown{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255,255,255,0.8);
}

.halfcircle{
  position:absolute;
  top:0;
  margin-left:50%;
  left:-50px;
  z-index:4;
  height:50px;
  width:100px;
}

.widget1{
  position:relative;
  background-image:url('../images/dark_capitol.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  padding:40px;
  border-bottom:4px solid white;
}
.widget2{
  position:relative;
  background-image:url('../images/blue_franklin.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  padding:40px;
  border-bottom:4px solid white;
}
.widget3{
  position:relative;
  background-image:url('../images/green_yorktown.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top center;
  padding:40px;
  border-bottom:4px solid white;
}
.widget4{
  position:relative;
  background-image:url('../images/naval_battle.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:bottom center;
  padding:40px;
  border-bottom:4px solid white;
}

.widgettext h1, .widgettext h2, .widgettext h3, .widgettext h4, .widgettext h5, .widgettext h6 {
  color:#FFFF99;
  text-align:center;
  font-size:35px;
  padding-bottom:10px;
}

.widgettext p {
  color:white;
  text-align:center;
  font-size:20px;
}

.pac_disclaimer {
  display: inline-block;
  color:white;
  text-align:center;
  font-size:16px;
  padding:10px;
  border:2px solid white;
  font-variant:small-caps;
}

.footer{
  background-color: #333333;
  padding:40px;
}

.footer a{
  color:#fff;
}



.copyright{
  color:white;
}

/*Subpages*/


#about .subpage-content img{
  float:left;
  width:150px;
  border:solid #ccc 2px;
  padding: 2px;
  margin: 5px 15px 15px 0;
}

.subpage-content a{
  color:#003366;
}

.subpage-content a:hover{
  text-decoration:underline;
  color:#003366;
}

.subpage-content {
   color:black;
   font-size:14px;
   padding:30px 30px 50px;
   text-align:left;
   line-height: 1.61em;
}

.subpage-content h1, 
.subpage-content h2, 
.subpage-content h3, 
.subpage-content h4, 
.subpage-content h5, 
.subpage-content h6{
  padding: 1em 0 .5em;
  margin: 0;
  line-height: 1.4em;
}
.subpage-content h2 {
  font-size: 1.3em;
}
.subpage-content h1 {
  margin-top: 0;
  padding-top: 0;
}

.sidebar {
   font-size:14px;
   padding: 10px 40px 40px;
   margin-top: 40px;
   text-align:left;
   background: #EEE;
}

.sidebar .hide-mobile,
.sidebar .about-page-only {
display:none;
}

.sidebar .btn-primary {
   position:relative; 
   top:-1px; 
   padding:3px 5px; 
   margin-left:3px;
}

#about .sidebar .about-page-only{
display:inline;
}


.pledge, .pledge:visited {
  background-color: #d53a38;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  border: none;
  display: inline-block;
}
.pledge:hover {
  background: #b73230;
  text-decoration: none;
  color: #fff;
}
.sidebar .pledge {
  width: 300px;
  margin: 0 auto;
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 1.5em;
  display: block;
}

.sidebar .block {
  padding-top: 30px;
}

.sidebar h1, 
.sidebar h2, 
.sidebar h3, 
.sidebar h4, 
.sidebar h5, 
.sidebar h6{
  text-align: center;
  padding-bottom: 10px;
  color: #555;
  border-bottom: 2px solid #555;
  margin-bottom: 30px;
}

/* This comment reserved for someone who knows what the heck #login_modal is */

#login_modal .modal-header {
  color: black;
}

#login_modal #login_inputs {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  height: 70px;
}

#login_modal #login_inputs i {
  font-size: 55px;
}

#login_modal #login_inputs > div.login-service {
  padding-right: 20px;
  text-align: center;
}

#login_modal #login_inputs > div.login-service:last-child {
  padding-right: 0px;
}

/*Responsive Tweaks*/

.mobileonly {
  display:none;
}

.mobilehidden{
  display:inline;
}

@media (max-width: 1200px) {
  .pledgebutton{
    margin:25px 20px;
    padding:5px 10px;
    text-align: center;
    font-size:40px;
    border: 3px solid white;
    z-index:20;
  }
  .donation-progress-bar{
    padding:0 5px;
  }
}

@media (max-width: 992px) {
  .pledgebutton{
      margin-left:auto;
     margin-right:auto;
     margin:10px 50px;
     padding:10px 20px;
     text-align: center;
     font-size:50px;
     border: 3px solid white;
     z-index:20;
  }
  .donation-progress-bar{
     padding:0 25px;
  }
}
@media (max-width: 600px) {
  .pledgebutton{
     margin:25px 20px;
     padding:5px 10px;
     text-align: center;
     font-size:40px;
     border: 3px solid white;
     z-index:20;
  }
  .donation-progress-bar{
     padding:0 5px;
  }
}

/* Contact Form */

.input-group, .input-group-lg {
   display:block;
   width:75%;
   margin-left: 12%;
   margin-right: 13%;
}

.input-group-btn{
   display:block;
   width:75%;
   margin-left: 12%;
   margin-right: 13%;
   text-align:right;
}