---
layout: newpledge
title: MAYDAY.US - A Crowdfunded, Kickstarted SuperPAC to end all SuperPACs
omit_title_suffix: true
cssid: bitcoin
disable-pledge-sidebar: true
only-bitcoin: true
---

<div id="pledgeTopBar">
  <h3>MAYDAY<span>.US</span></h3>
</div>
<div class="jumbotron">
  <div id="pledgeBox">
    <div class="info">
      <h2>Help End Big Money Politics</h2>
      <p>Help us reduce the influence of money in politics and elect a Congress committed to fundamental reform by 2016</p>
    </div>

    {% include pledgeform-newpledge.html %}

  </div>
  <div id="mainrules" class="well rules">
    {% include pledge-rules.html %}
    <div id="rules" class="rules row">
      <H2>Bitcoin-specific Information:</H2>
      <ul>
        <li>As per the <a href="https://makeyourlaws.org/fec/bitcoin">Make Your Laws PAC FEC hearing, we can only accept $100 worth of bitcoin from any one individual.</a> However, you are allowed to donate $100 worth of Bitcoin and continue to donate or pledge an unlimited amount of funds to us via our main pledge page.</li>
      </ul>
    </div>
  </div>

</div>
{% include footer.html %}
