---
layout: newpledge
title: MAYDAY.US - A Crowdfunded, Kickstarted SuperPAC to end all SuperPACs
omit_title_suffix: true
cssid: newpledge
pledge_url: //pledgedev.mayday.us
---

	<div id="pledgeTopBar">
		<h3>MAYDAY<span>.US</span></h3>
	</div>
	<div class="jumbotron">
	  <div id="pledgeBox">
		<div class="info">
		<img style="float:left; padding-right:10px;" src="/images/bitcoin_sign.png">
			<h2>Help End Big Money Politics</h2>
			<p>Help us reduce the influence of money in politics and elect a Congress committed to fundamental reform by 2016</p>
		
		</div>
		
		<div class="stepContainer">
			<h3>Donate With Bitcoin</h3>
			<ul class="steps">
				<li id="step-1" class="step active">Amount<span>1</span></li>
				<li id="step-2" class="step">Info<span>2</span></li>
				<li id="step-3" class="step">Payment<span>3</span></li>		
			</ul>
		</div>
		
		<div class="step-1-container">
			<div class="ammount-button" onclick="step2(10);">$10</div>
			<div class="ammount-button" onclick="step2(25);">$25</div>
			<div class="ammount-button" onclick="step2(50);">$50</div>
			<div class="ammount-button" onclick="step2(75);">$75</div>
			<div class="ammount-button" onclick="step2(100);">$100</div>
			<div class="ammount-button" onclick="step2(-1);">Other</div>
<div style="clear: both;"></div>
			<div style="margin:20px auto;" id="btc-quote"></div>
				<script type="text/javascript" src="//cdn-gh.firebase.com/btcquote/embed.js"></script>
		</div>


		
		<div class="step-2-container">
			  <form id="pledgeForm" role="form" method="POST" onsubmit="step3();" action="javascript:;">
          <div class="form-group col-sm-6"><label class="control-label">First Name</label><input type="text" required placeholder="Tommy" class="form-control input-lg" id="first_name_input" /></div>
          <div class="form-group col-sm-6"><label class="control-label">Last Name</label><input type="text" required placeholder="Brown" class="form-control input-lg" id="last_name_input" /></div>
          <div class="form-group col-sm-12"><label class="control-label">Address</label><input type="text" required placeholder="123 Main St, #11" class="form-control input-lg" id="address_input" /></div>
          <div class="form-group col-sm-5"><label class="control-label">City</label><input type="text" required placeholder="Springfield" class="form-control input-lg" id="city_input" /></div>
          <div class="form-group col-sm-3"><label class="control-label">State</label>

<select class="form-control input-lg" id="state_input" />
	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
	<option value="AS">American Samoa</option>
	<option value="GU">Guam</option>
	<option value="MP">Northern Mariana Islands</option>
	<option value="PR">Puerto Rico</option>
	<option value="UM">United States Minor Outlying Islands</option>
	<option value="VI">Virgin Islands</option>
	<option value="AA">Armed Forces Americas</option>
	<option value="AP">Armed Forces Pacific</option>
	<option value="AE">Armed Forces Others</option>	
				
</select>		



          </div>
          <div class="form-group col-sm-4"><label class="control-label">ZIP</label><input type="text" required class="form-control input-lg" id="zip_input" /></div>
          
		        <div class="form-group col-sm-6"><label class="control-label">Email</label><input type="email" required placeholder="smith@example.com" class="form-control input-lg" id="email_input" /></div>
		        <div class="form-group col-sm-6"><label class="control-label">Phone Number <span class="label label-default">Optional</span></label><input type="tel" placeholder="(212) 867-5309" class="form-control input-lg" id="phone_input" /></div>
		        <div class="form-group col-sm-6"><label class="control-label">Occupation</label><input type="text" required placeholder="Gardener, Railroad Worker, etc"  class="form-control input-lg" id="occupation_input"/></div>
		        <div class="form-group col-sm-6"><label class="control-label">Employer</label><input type="text" required placeholder="Nintendo, UPS, Self, etc" class="form-control input-lg" id="employer_input" /></div>
		        <div class="form-group col-sm-6">
		          <label class="control-label">Who to Fund?</label>
		          <select  class="form-control input-lg" id="targeting_input">
		            <option>Whatever Helps</option>
		            <option>Democrats Only</option>
		            <option>Republicans Only</option>
		          </select>
		        </div>
		        {% if page.includeSurvey %}
		          <div class="form-group col-sm-6">
		            <label class="control-label">What tactics to use?</label>
		            <select  class="form-control input-lg" id="survey_input">
		              <option>Digital voter registration ads to grow the electorate</option>
		              <option>Video trackers to force candidate transparency</option>
		              <option>No robocalls</option>
		              <option>State-of-the-art digital canvassing and field tools</option>
		              <option>No negative ads</option>
		              <option>Whatever helps us win</option>            
		            </select>
		          </div>
		        {% endif %}
		        <div class="form-group col-sm-6">
		          <label class="control-label">How Much to Pledge ($)?</label>
		          <input type="number" required min="1" placeholder="25, 100, 5000" class="form-control input-lg" id="amount_input">
		        </div>
		        <div id="donation-type" class="form-group col-sm-6">
		          <div class="checkbox" style="display:none"><label><input type="checkbox" id="directDonate_input" checked> I want my donation to be used to support MAYDAY.US, even if the goal has not been met by July 4th.</label></div>		          
		        </div>
		        <div class="form-group col-sm-12">
              <div class="checkbox"><label><input type="checkbox" id="emailSignupInput" checked> Want to know how we're using the money? Sign up for emails from us.</label></div>
              <div class="checkbox"><label><input type="checkbox" id="requiredConfirmation" >I confirm that: (1) I am a U.S. citizen or permanent resident; and (2) the Bitcoin I am donating are solely owned by me.</label>
              </div>
            </div>
		        <div id="formError" class="alert alert-danger" style="display:none">
		        </div>

		        <div class="form-group col-sm-12">
              <p>Bitcoin donations are not pledges, and cannot be refunded.</p>
            </div>
              
		        <div class="form-group col-sm-12">
		          <button id="bitcoinButton" style="width:100%;" class="btn ammount-button">
		            <div style="display:none" class="spinner"></div>
		            <span class='pledgeText'>Next</span>
		          </button>
		        </div>		        
		      </form>
			
		</div>
	  </div>
	  <div id="rules" class="well row">
		<h2>Contribution Rules:</h2>
		<p>In order to contribute, all of the following statements must be true:</p>
		<ul>
			<li>I am a United States citizen or a permanent resident alien.</li>
			<li>This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.</li>
			<li>I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.</li>
			<li>I am at least eighteen years old.</li>
			<li>I am not a foreign national (permanent resident aliens excepted), federal contractor, national bank, or corporation chartered by an act of Congress</li>
		</ul>
		<p>Mayday PAC must use its best efforts to obtain and report the name, address, occupation, and employer of individual contributors.</p>
		<p>Contributions are not tax deductible.</p>


<H2>Bitcoin-specific Information:</H2>
		<ul>
			<li>As per the <a href="https://makeyourlaws.org/fec/bitcoin">Make Your Laws PAC FEC hearing, we can only accept $100 worth of bitcoin from any one individual.</a> However, you are allowed to donate $100 worth of Bitcoin and continue to donate or pledge an unlimited amount of funds to us via our main pledge page.</li>
		</ul>

		<p><a href="//mayday.us/privacy-policy">Our Privacy Policy</a></p>
    </div>
	</div>
	
{% include footer.html %}
