---
layout: landing-calltime2
title: Interact with the livestream
omit_title_suffix: true
cssid: pulse
og_title: Interact with the livestream
og_description: Engage with MAYDAY
---

{% capture content %}

  <div class="page-header">
    <h1>Call Time With Lessig</h1>
  </div>
  <div class="page-body videostream">
    
  	<div class="videocontent">

  		<!--

      <iframe width="960" height="540" src="//www.youtube-nocookie.com/embed/HOjNW3l05gE?rel=0" frameborder="0" allowfullscreen></iframe>

     <div class="mp">
        <div class="mpframe">
          <iframe width="640" height="530" id="mpframe" src="https://www.meetingpulse.net/app/attendee.html?mid=calltime&embed_mode=on" frameborder="0"></iframe>
        </div>
      </div>
      Go to "questions" to ask and upvote questions.
      Rude or inappropriate questions will be deleted.
      !-->
      <h3>Next Call Time at 9 p.m. EST, Thursday, July 10.<h3>
               <form action="https://pledge.mayday.us/r/subscribe" method="post"><Strong>RSVP for the event:</Strong>
          <input type="hidden" name="redirect" value="https://mayday.us/subscribe/" />
          <input type="hidden" name="source" value="July10CallTime" />
          <input name="email" type="text" placeholder="yourname@email.com" />
          <button class="lilbutton" type="submit" value="subscribe" title="Submit Email" onSubmit="_gaq.push(['_trackEvent', 'Form', 'Submit', 'Front Page Email']);">Subscribe
          </button>
        </form>
      <h4>Before the meeting begins, you can use the comments section below to ask questions.</h4>
      <P>We'll start off the interview with the highest voted questions submitted in the comments.</P>
      <P>We will also continue to take live questions from the audience during the event. </P>
         <form action="https://pledge.mayday.us/r/subscribe" method="post">RSVP for the event:
          <input type="hidden" name="redirect" value="https://mayday.us/subscribe/" />
          <input type="hidden" name="source" value="July10CallTime" />
          <input name="email" type="text" placeholder="yourname@email.com" />
          <button class="ammount-button" type="submit" value="subscribe" title="Submit Email" onSubmit="_gaq.push(['_trackEvent', 'Form', 'Submit', 'Front Page Email']);">RSVP
          </button>
        </form>
    </div>  <HR />




     {% include discus_code.html %}

{% endcapture %}

{% include pledgeSubpage-newpledge.html %}
