---
layout: default
title: MayDay.us - Call Time
omit_title_suffix: true
cssid: calltime
mailchimpSource: calltime
---


{% capture subhead %}

A citizen-funded super PAC, to end all super PACs.

{% endcapture %}

{% capture pageid %}

Subscribe

{% endcapture %}

{% capture content %}
#JOIN MAYDAY CALL TIME WITH LESSIG

On Thursday, June18th, you’re invited to join Lessig and MAYDAY.US supporters for an update on our movement. RSVP below -- you’ll receive an email confirmation with info about your call after you sign up.

{% include simple_subscribe.html %}

{% endcapture %}

{% include subpage.html %}

