---
layout: default
title: Interact with the livestream
omit_title_suffix: true
cssid: calltime2
og_title: Interact with the livestream
og_description: Engage with MAYDAY
---

{% include header.html %}

<div class="container">

  <div class="row">

    <div class="col-md-8">
      <div class="videocontent">
        <iframe width="640" height="480" src="//www.youtube-nocookie.com/embed/HOjNW3l05gE?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4">
      <p>
        Some introductory text.
      </p>
      <p>
        Text explaining what the Meeting Pulse Widget is.
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="mp">
        <div class="mpframe">
          <iframe width="640" height="530" id="mpframe" src="https://www.meetingpulse.net/app/attendee.html?mid=calltime3&embed_mode=on" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <button class="button" onclick="$('#chat').toggle();">Join the Chat</button>
      <iframe style="display:none;" id="chat" height="530" src="//webchat.freenode.net?channels=%23mayone&uio=MTM9ZmFsc2U1b"></iframe>
    </div>

  </div>

  <div class="row">
    <div class="subpage-content col-md-8">
{% include discus_code.html %}
    </div>
  </div>

</div>

{% include footer.html %}
