---
layout: default
title: Call Time with Lessig
omit_title_suffix: true
cssid: calltime2
og_title: Call Time with Lessig
og_description: Engage with MAYDAY
---

{% include header.html %}

<div class="container-fluid">
  
  <h2 style="margin-top:30px;" class="text-center">Call Time: Lawrence Lessig and Ben Wikler</h2>
  <div class="row row-centered">

    <div class="col-md-8">
        <iframe width="100%" height="480" src="//www.youtube.com/embed/5eChxFcbHts" frameborder="0" allowfullscreen></iframe>
    </div>
    

    <div class="col-md-4">
          <iframe width="100%" height="480" id="mpframe" src="https://www.meetingpulse.net/app/attendee.html?mid=calltime3&embed_mode=on&q_o=on" frameborder="0"></iframe>
    </div>

  </div>

  <div class="row row-centered">

    <div class="col-md-6 col-centered">
      <h3 class="text-center">
      Broadcast begins at 9:00 pm ET/6:00 pm PT
      </h3>
      <p>
      Thanks for joining us! Larry and Ben will start by discussing the questions that have already been submitted and voted on in the comments below. Afterward, they'll address the top questions and comments in the live Q&A that's to the right of the video. Feel free to add or upvote questions there that you want answered, and we'll try to get to as many as possible.
      </p>
      
    </div>


  </div>

  <div class="row">
    <div class="subpage-content col-md-8">
{% include discus_code.html %}
<BR>
<h4>Previous Call Times</h4>
{% include previous-calltime.html %}
    </div>
  </div>

</div>

{% include footer.html %}
