---
layout: default
title: Interact with the livestream
omit_title_suffix: true
cssid: calltime2
og_title: Interact with the livestream
og_description: Engage with MAYDAY
---

{% include header.html %}

<div class="container">

  <div class="row">

    <div class="col-md-8">
      <div class="videocontent">
        <iframe width="640" height="480" src="//www.youtube.com/embed/PCtGI92XfIc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Join us at 9:00 pm EDT Thursday, July 10th</h3>
      <p>
        Ben Wikler will interview Professor Lessig, asking some of the best
        questions from our discussion forum below.
      </p>
      <p>
        During the call, they hope to ask you to contribute live questions, and respond
        to the most highly voted questions.  Please use the box below the video to submit
        and vote for questions.
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="mp">
        <div class="mpframe">
          <iframe width="640" height="530" id="mpframe" src="https://www.meetingpulse.net/app/attendee.html?mid=calltime3&embed_mode=on&q_o=on" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="subpage-content col-md-8">
{% include discus_code.html %}
    </div>
  </div>

</div>

{% include footer.html %}
