<div class="thermometer phase_one">
  <div class="progress_bar full"></div>
</div>
<div class="thermometer active">
  <div class="progress_bar" style="width: 10%" id="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="progress_bar"></div>
</div>

<div class="phase_one_details">
  <h5>Phase One</h5>
  <h4>$1m<span> + MATCH</span></h4>
</div>
<div class="phase_two_details">
  <div class="goal">
  <h5>Total Goal</h5>
  <h4>$5m</h4>
  </div>
  <h5>Phase Two</h5>
  <h4><span id="raised">$100,000</span></h4>
</div>

<script src="{{site.baseurl}}/js/progress.js"></script>



            <!-- 


<div class="thermometer" style="clear:both;">
  <div class="progress_bar" style="width: 20%" id="progress_bar"></div>
</div>

<div class="progress-container">
              <div id="super-cool-progress-bar" class="donation-progress-bar">
                <span class="donation-progress-percent" id="super-cool-progress-bar-percent">Loading...</span>
                <span class="donation-progress-funded">
                  <span id="super-cool-progress-bar-funded"></span>
                  <span class="hide-mobile">Raised</span>
                </span>
                <span class="donation-progress-togo"    id="super-cool-progress-bar-togo"></span>
                <div class="donation-progress" style="width: 0%" id="super-cool-progress-bar-bar"></div>
              </div>
		<div id="complete-total-raised"></div>
           </div> -->