<div class="thermometer phase_one">
  <div class="label">&#10004;</div>
  <div class="progress_bar full"></div>
</div>
<div class="thermometer active">
  <div class="label">$1m</div>
  <div class="progress_bar" style="width: 10%" id="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="label">$2m</div>
  <div class="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="label">$3m</div>
  <div class="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="label">$4m</div>
  <div class="progress_bar"></div>
</div>
<div class="thermometer locked">
  <div class="label">$5m</div>
  <div class="progress_bar"></div>
</div>

<div class="phase_one_details">
  <h5>Stage One</h5>
  <h4>$1m<span> + MATCH</span></h4>
</div>
<div class="phase_two_details">
  <div class="goal">
  <h5>Total Goal</h5>
  <h4>$5m</h4>
  </div>
  <h5>Stage Two</h5>
  <h4><span id="raised">Loading...</span></h4>
</div>
<script src="{{site.baseurl}}/js/mayday_progress.js"></script>
