	  <div class="footer row">
		<div style="text-align:center;" class="col-md-8">
			<div class="pac_disclaimer">Paid for by Mayday PAC
			<br>Not authorized by any candidate or candidate's committee
			<br><a href="/">www.MayOne.us</a>
			</div>
		</div>
	<div class="col-md-1">&nbsp;</div>
		<div class="col-md-2">  		  <a class="twitter" href="https://twitter.com/MayOneUS">tw
					</a>
					<a class="facebook" href="https://www.facebook.com/mayonedotus">FB
					</a>
					<a class="gplus" href="https://plus.google.com/113369859819907761033/posts">gp
					</a>
					<a class="vimeo" href="https://vimeo.com/user187904">VI
					</a>
		
			<div class="copyright">&copy; 2014 May One.<a href="http://creativecommons.org/licenses/by-sa/4.0">
				<img src="{{ site.url }}/images/cc80x15.png">
			  </a>
			 
			
			 </div>
		 </div>
		<div class="col-md-1">&nbsp;</div>
      </div>
	  
