{% include indexheader.html %}
	  
	  <!--Herotext Row-->
	 	  <div class="herotext row">
			{{herotext}}
		  </div>
		  
	  <!--Slider & Hero Area-->		 
	  
<div class="full-width hero-fw">	
<div class="full-width underlay">
 {% include slider.html %}
</div>
		<div class="heroarea container">

			<div class="row">
				<div class="col-md-6">
					<div class="video"><iframe src="//player.vimeo.com/video/93299391?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
				</div>
				<div class="col-md-6">
					<div class="progbar">
						<a style="text-decoration:none;" href="//pledge.mayone.us/pledge"><div class="pledgebutton">PLEDGE NOW</div></a>
					{% include progbar.html %}
					</div>
				</div>
			  </div>
			 <div class="shareoptions row">
					{% include shareoptions.html %}
			  </div>
		</div>
</div>

  
 	

	 <div class="widget1 row">
	    <div class="halfcircle"><img src="images/bracketdown.png"></div>
        <div class="col-md-1">&nbsp;</div>
        <div class="widgettext col-md-4"><{{widget1left | markdownify}}</div>
		<div class="col-md-2"></div>
        <div class="widgettext col-md-4"><{{widget1right | markdownify}}</div>
        <div class="col-md-1">&nbsp;</div>
      </div>
	  
	 <div class="widget2 row">
	 	    <div class="halfcircle"><img src="images/bracketdown.png"></div>
        <div class="col-md-1">&nbsp;</div>
        <div class="widgettext col-md-4"><{{widget2left | markdownify}}</div>
		<div class="col-md-2"></div>
        <div class="widgettext col-md-4"><{{widget2right | markdownify}}</div>
        <div class="col-md-1">&nbsp;</div>
      </div>
	  
	 <div class="widget3 row">
	 	    <div class="halfcircle"><img src="images/bracketdown.png"></div>
        <div class="col-md-1">&nbsp;</div>
        <div class="widgettext col-md-4"><{{widget3left | markdownify}}</div>
		<div class="col-md-2"></div>
        <div class="widgettext col-md-4"><{{widget3right | markdownify}}</div>
        <div class="col-md-1">&nbsp;</div>
      </div>
	  
	  <div class="widget4 row">
	  	    <div class="halfcircle"><img src="images/bracketdown.png"></div>
		<div class="col-md-3">&nbsp;</div>
        <div class="widgettext col-md-6">{{widget4 | markdownify}}</div>
		<div class="col-md-3">&nbsp;</div>
      </div>
	  

{% include footer.html %}
  <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
