<!--Menu & Logo-->
    <div class="full-width"> 
		  <div class="menu-row row">
        <div class="col-md-8">&nbsp;</div>
        <a href="http:{{site.baseurl}}/about"><div class="topmenu col-md-1">About Us</div></A>
		<a href="http:{{site.baseurl}}/faq"><div class="topmenu col-md-1">FAQ</div></A>
		<a href="http:{{site.baseurl}}/connect"><div class="topmenu col-md-1">Connect</div></A>
		<div class="topmenu col-md-1">Team Pages</div>
      </div>
	  </div>
	  <div class="container">
	  <div class="logo-row row">
        <a href="/"><div class="logo col-md-3"><img src="images/logo.png"></div></A>
        <div class="subhead col-md-9">{{subhead}}</div>
      </div>
	</div>