<!--Menu & Logo-->
<div class="full-width"> 
	<div class="clearfix menu-row row">
		<a href="../media"><div class="topmenu col-md-1">Media</div></A>
		<a href="../videos"><div class="topmenu col-md-1">Videos</div></A>
		<a href="../ways"><div class="topmenu col-md-1">Ways to Help</div></A>
		<a href="../faq"><div class="topmenu col-md-1">FAQ</div></A>
		<a href="../about"><div class="topmenu col-md-1">About Us</div></A>
		
		<a href="../login"><div class="topmenu col-md-1">Login</div></A>
		<a href="../mysuperpac"><div class="topmenu col-md-1">My SuperPAC</div></A>
		<a href="../connect"><div class="topmenu col-md-1">Connect</div></A>
	</div>
</div>
	<div class="container">
		<div class="logo-row row">
			<a href="../"><div class="logo col-md-3"><img src="../images/logo_mayday.png"></div></A>
		<div class="subhead col-md-9">{{subhead}}</div>
	</div>
</div>
