<style>

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

.co2014hero{
  background-image:url('/images/co2014bg.jpg');
  background-repeat:no-repeat;
  overflow:hidden;
  background-size: 100% 100%;
}

.co2014hero h1 {
  font-family:"Permanent Marker";
  color:white;
  text-align:center;
  font-size:60px;
  margin-left:10%;
  margin-right:10%;
}

.co2014hero h2 {
  font-family:"Permanent Marker";
  color:white;
  text-align:center;
  font-size:40px;
}

.herocolumn {
    width: 16%;
    margin: 0 2% 0 2%;  /*2% right +2% left = 4% margin*/
    float:left;
    font-family:Questrial, Helvetica, Arial, Sans Serif;
    font-size:22px;
    text-align:center;
    color:#FFF;
}

.herocolumn img{
    width:100%;
}

.herocolumn img:hover{
    outline: 2px solid yellow;
}

</style>

  <div class="co2014hero">
  <h1>Meet the MAYDAY&nbsp;PAC Class&nbsp;of&nbsp;2014</h1>
      <div class="herocolumn"><P>TX-08</P><a href="/smith"><img src="/images/smith.png"></a><P>State Sen.<BR>Matt Smith</P></div>
      <div class="herocolumn"><P>MN-Senate</P><a href="/smith"><img src="/images/tennant.png"></a><P>Mr. David Tennant</P></div>
      <div class="herocolumn"><P>KY-01</P><a href="/smith"><img src="/images/eccleston.png"></a><P>State Rep.<BR> Christopher Eccleston</P></div>
      <div class="herocolumn"><P>NJ-13</P><a href="/smith"><img src="/images/hurt.png"></a><P>Atlantic City Mayor<BR>John Hurt</P></div>
      <div class="herocolumn"><P>HI-01</P><a href="/smith"><img src="/images/mcgann.png"></a><P>Mr. Paul McGann</P></div>
      <div style="clear:both;"></div>



      <h2 style="margin:0 10% 20px 10%;">Click on the candidates to find out more about why we’ve chosen their races to make&nbsp;corruption <u>THE</u>&nbsp;issue&nbsp;of&nbsp;2014.</h2>
  </div>