<!-- Bootstrap modal to show login links -->
<div class="modal fade" id="login_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login to My SuperPAC</h4>
      </div>
      <div class="modal-body">
        <p>Create an account or login with:</p>
        <div id="login_inputs" class="text-center">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-block btn-social-icon btn-facebook">
              <i class="fa fa-facebook social-icon-scale"></i>
            </a>
            <a class="btn btn-block btn-social-icon btn-google-plus social-icon-scale">
              <i class="fa fa-google-plus social-icon-scale"></i>
            </a>
            <a class="btn btn-block btn-social-icon btn-twitter">
              <i class="fa fa-twitter social-icon-scale"></i>
            </a>
            <a class="btn btn-block btn-social-icon btn-yahoo social-icon-scale">
              <i class="fa fa-yahoo social-icon-scale"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="{{ site.baseurl }}/js/login_modal.js" type="text/javascript"></script>
