<!-- Bootstrap modal to show login links -->
<div class="modal fade" id="login_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login to My SuperPAC</h4>
      </div>
      <div class="modal-body">
        <p>Create an account or login with:</p>
        <div id="login_inputs text-center">
          <a class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="{{ site.baseurl }}/js/login_modal.js" type="text/javascript"></script>
