	<header id="header">
		<div class="wrap clearfix">
			<blockquote>electing a Congress committed to fundamental reform by 2016</blockquote>
			<a href="/" title="Mayday PAC" class="logo ir">MAYDAY PAC</a>
		</div>

		<ul class="navigation nav">
			<li><a href="https://my.mayday.us/login" id="mysuperpac_topmenu">My SuperPAC</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/media">Press</a></li>
			<li><a href="/ways">Ways to Help</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/the-plan">Plan Details</a></li>
			<li><a href="/your-donations">Data Analysis</a></li>
		</ul>

	</header>