<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//fgnass.github.io/spin.js/spin.min.js"></script>
  
  <script>
    PLEDGE_URL = 'https://pledge.mayday.us';
    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? '.' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
      }
      return x1 + x2;
    }
    var ALREADY_BANKED = 1000000;
    var GOAL_DOLLARS = 5000000;
    $(function() {
      var date = new Date();
      date.setTime(date.getTime()+(24*60*60*1000));
      document.cookie = ("last_team_key={{team.key()}};" +
                         "expires=" + date.toGMTString() +
                         ";domain=.mayday.us;path=/");
    });
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="https://pledge.mayday.us/static/pledge.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Pledge now
    </h3><!-- ./panel-title !-->
  </div><!-- ./panel-heading !-->
  <div class="panel-body">
    <form role="form" method="POST" ng-submit="ctrl.pledge()">
      <div class="form-group col-sm-12"><label class="control-label">Email</label><input type="email" required placeholder="smith@example.com" ng-model="ctrl.form.email" class="form-control input-lg"></div>
      <div class="form-group col-sm-12"><label class="control-label">Phone Number <span class="label label-default">Optional</span></label><input type="tel" placeholder="(212) 867-5309" ng-model="ctrl.form.phone" class="form-control input-lg"></div>
      <div class="form-group col-sm-12"><label class="control-label">Occupation</label><input type="text" required placeholder="Gardener, Railroad Worker, etc" ng-model="ctrl.form.occupation" class="form-control input-lg"></div>
      <div class="form-group col-sm-12"><label class="control-label">Employer</label><input type="text" required placeholder="Nintendo, UPS, Self, etc" ng-model="ctrl.form.employer" class="form-control input-lg"></div>
      <div class="form-group col-sm-12">
        <label class="control-label">Who to Fund?</label>
        <select ng-model="ctrl.form.target" class="form-control input-lg">
          <option>Whatever Helps</option>
          <option>Democrats Only</option>
          <option>Republicans Only</option>
        </select>
      </div>
      <div class="form-group col-sm-12">
        <label class="control-label">How Much to Fund ($)?</label>
        <input type="number" required min="1" placeholder="25, 50, 5000" ng-model="ctrl.form.amount" class="form-control input-lg">
      </div>
      <div id="donation-type" class="form-group col-sm-12">
        <div class="checkbox"><label><input type="checkbox" ng-model="ctrl.form.unconditional"> I want my donation to be used to support MAYDAY.US, even if the goal has not been met by July 4th.</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="ctrl.form.subscribe" checked> Want to know how we're using the money? Sign up for emails from us.</label></div>
      </div>
      <div class="form-group col-sm-12">
        <button ng-disabled="ctrl.loading" class="btn">
          <div ng-show="ctrl.loading" class="spinner"></div>
          <span ng-hide="ctrl.loading">Pledge</span>
        </button>
      </div>
    </form>
  </div><!-- ./panel-body !-->
</div>