            <div class="progress-container">
			<div class="checkpoint-text">PROGRESS TO NEXT CHECKPOINT</div>
              <div id="super-cool-progress-bar" class="donation-progress-bar">
                <span class="donation-progress-percent" id="super-cool-progress-bar-percent">Loading...</span>
                <span class="donation-progress-funded">
                  <span id="super-cool-progress-bar-funded"></span>
                  <span class="hide-mobile">Raised</span>
                </span>
                <span class="donation-progress-togo"    id="super-cool-progress-bar-togo"></span>
                <div class="donation-progress" style="width: 0%" id="super-cool-progress-bar-bar"></div>
              </div>
			 	  <div id="complete-total-raised"></div>
              <script src="/js/progress.js"></script>
           </div>