  <div class="donation-share">
	<span class="donation-share-text">Spread the Word:</span>
	<span class="donation-share-buttons">
	  <a id="twitter_link" href="#" target="_blank" onclick="javascript:window.open(twitter_link_url,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
		<i class="icon-twitter"></i>tw
	  </a>
	  <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mayone.us%2F" target="_blank" onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mayone.us%2F','','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
		<i class="icon-facebook"></i>FB
	  </a>
	  <a id="gplus_link" href="#" target="_blank" onclick="javascript:window.open(gplus_link_url,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
		<i class="icon-gplus"></i>gp
	  </a>
	<form><span style="color:white;">Sign Up:</span> <input name="email" placeholder="E-mail Address" style="color:black; padding:2px; margin:2px;" type="text">&nbsp;<input style="color:black; padding:2px; margin:2px;" type="submit" value="Submit"></form></span>
  </div>