<div class="social-icons">
  <h3>{{shareheading}}</h3>
  <a class="twitter" href="https://twitter.com/home?status={% if page.tweetText %}{{page.tweetText}}{% else %}Money%20has%20corrupted%20our%20democracy.%20Can%20we%20fix%20it?%20Act%20now,%20join%20%23MAYDAYUS%20--%20let's%20try%20something%20new:%20https://MAYDAY.US{% endif %}"
      class="twitter" target="_blank"><img src="../images/share_twitter.png"></a><BR />
  <a class="facebook" href="http://www.facebook.com/sharer.php?u=https://mayday.us{{ page.url }}" class="facebook" target="_blank"><img src="../images/share_facebook.png"></a><BR />
</div>