<div class="block">
<!--  <h3>Direct Contributions</h3>
    <P style="text-align:center;"><a href="http://democracy.com/MayOne/donate.aspx#form">
      <img src="../images/donatebutton2-1.jpg">
    </a>
	</P>
    <p>
      Direct donations are collected via <a href="http://democracy.com/">Democracy.com</a>. Direct contributions, unlike pledges, are not contingent upon reaching our goals and are collected immediately.</p>
-->
      	<a class="pledge" href="//pledge.mayday.us/pledge">PLEDGE NOW</a>
		            <div class="progress-container">
			<div class="checkpoint-text">NEXT CHECKPOINT: $2,000,000</div>
              <div id="super-cool-progress-bar" class="donation-progress-bar">
                <span class="donation-progress-percent" id="super-cool-progress-bar-percent">Loading...</span>
                <span class="donation-progress-funded">
                  <span id="super-cool-progress-bar-funded"></span>
                  <span class="hide-mobile">Raised</span>
                </span>
                <span class="donation-progress-togo"    id="super-cool-progress-bar-togo"></span>
                <div class="donation-progress" style="width: 0%" id="super-cool-progress-bar-bar"></div>
              </div>
			 	  <div id="complete-total-raised"></div>
              <script src="{{site.baseurl}}/js/progress.js"></script>
           </div>
</div>
<div class="block">
	  <h3>Sign-Up to our Mailing List</h3>
	 <P>
	 <form action="https://mayday.us/subscribe" method="get" style="text-align: center;"><input name="email" placeholder="E-mail Address" style="color:black;" type="text"><span style="color:black;">&nbsp;<input class="btn btn-primary"  type="submit" value="Sign Up"></span></form>
	 </P>
</div>
<div class="block">
	  <h3>Donation by Check</h3><p>Make checks payable to: Mayday PAC
    </p>
    <p style="padding-left:30px;">
      MAYDAY PAC<br>
      P.O. Box 380444<br>
      Cambridge, MA 02238
    </p>
    <p>
      You are required to send your name, address, occupation, and employer along with your check in order for us to legally accept your donation.
    </p>
</div>
<div class="block">
  <h3>Share</h3>
  <div class="social" id="sidesocial">
    <div class="twitter"><a href="https://twitter.com/home?status=Money%20has%20corrupted%20our%20democracy.%20Can%20we%20fix%20it?%20Act%20now,%20join%20%23MAYDAYUS%20--%20let's%20try%20something%20new:%20MAYDAY.US" title="Share on Twitter"><span>Share on Twitter</span></a></div>
    <div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https://mayday.us?1" title="Share on Facebook"><span>Share on Facebook</span></a></div>
    <div class="email">
        <a href='mailto:?to=&subject=Money%20has%20corrupted%20our%20democracy&body=Friend%2C%0A%0AMoney%20has%20corrupted%20our%20democracy.%20Now%20what%3F%0A%0AWe%20need%20an%20upgrade.%0A%0APlease%20visit%20https%3A%2F%2FMAYDAY.US%20--%20A%20grassroots%20political%20experiment%20created%20to%20fix%20government%20for%20all.%0A%0APlease%20join%20me%20and%20other%20Americans%20who%20want%20to%20shift%20the%20influence%20of%20money%20in%20politics.%0A%0AThank%20you%2C%0A'
        target="_blank" title="Share with Email"><span>Share with Email</span></a>
    </div>
  </div>
</div>
<div class="block">
  <h3>Embed This Widget</h3>
    <p style="text-align:center;">
      <iframe src="https://pledge.mayday.us/embed.html" width="260px" height="260px" frameborder="0" scrolling="no">
      </iframe>
    </p>
    <p>Use this code to embed this widget on your blog or website:</p>
    <pre>
&lt;iframe src=&quot;https://pledge.mayday.us/embed.html&quot; width=&quot;260px&quot; height=&quot;260px&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; /&gt; &lt;/iframe&gt;
    </pre>
</div>
<div class="block">

  <h3>Privacy Policy</h3>
      <a href="/privacy-policy">Our Privacy Policy</a>
</div>

  <div class="about-page-only"><h3>Credits</h3>
      <p>
        <strong>Video Credits:</strong>
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Mayday PAC Launch" video<br>
        True Life Media (<a href="http://truelifemedia.com/">truelifemedia.com</a>)
      </p>
      <br>
      <p>
        <strong>Photo Credits:</strong>
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Ghosts of my Grandfathers": by Timothy Burak, licensed <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Cement": Chase Jarvis: CC-BY-NC
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Staircase: Possibilities": phoelixde: CC-BY-NC-ND
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Colorado Clouds": Kevin Udy CC-BY-SA 3.0
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Soldiers": US Embassay: CC-BY-ND
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        "Citizens Outside" - Brook Stevenson: Used with Permission
      </p>
	  <p style="padding-left:5px;margin:6px 0px;">
        "Rally to Restore Sanity And/Or Fear" - Cliff - CC-BY
      </p>
      <br>
      <p>
        <strong>Software Tools Used:</strong>
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
      	Code hosted by <a href="https://github.com">Github</a>
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        Built on <a href="https://pages.github.com">Github Pages</a> using <a href="http://jekyllrb.org/">Jekyll</A>
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        Hosting by Github Pages and Google App Cloud
      </p>
	<p style="padding-left:5px;margin:6px 0px;">
        Co-Location & Scaling by Cloudflare
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        E-commerce software by The Tech First Responders
      </p>
      <p style="padding-left:5px;margin:6px 0px;">
        Payment Processing by <a href="https://stripe.com/">Stripe</a>
      </p>
	  </div>
       <p>
    </p>
