<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//fgnass.github.io/spin.js/spin.min.js"></script>

<div id="content" class="row">
    <div class="row">
      <form action='https://pledge.mayday.us/r/subscribe' method='post'>

        <div class="row">
          <div class="input-group input-group-lg">
		        <label>Email (required)</label>
            <input id='email_input' type="email" required name="email" class="form-control">
          </div>
        </div>

        <input type="hidden" name="source" id="sourceElement" value="{% if page.mailchimpSource %}{{ page.mailchimpSource }}{% else %}subscribe{% endif %}"/>
        <input type="hidden" name="redirect" value="https://mayday.us/thankyouforRSVP" />

        <div ng-show="! ctrl.spinning" class="row" >
           <span class="input-group-btn">
              <button id="submitButton" type="submit" class="btn btn-primary subscribeButton">{% if page.subscribeCTA %}{{ page.subscribeCTA }}{% else %}Subscribe{% endif %}</button>
            </span>
        </div>

        <div ng-show="ctrl.spinning" class="row">
          <div id="spinButton" class="spacing" style="position:relative;"></div>
        </div>

        <div ng-show="ctrl.error" class="edd_errors row">
          <p id="error"></p>
        </div>

      </form>

    </div>
</div>

<script>
  function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

$( document ).ready( function() {
  var email = getParameterByName('email'); 
  var source_val = getParameterByName('source'); 
  var email_input = document.getElementById("email_input");
  var source_input = document.getElementById("sourceElement");
  email_input.value=email;
  source_val = source_val || null;
  if (source_val) {
    source_input.value = source_val;
  }
});

</script>
