<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//fgnass.github.io/spin.js/spin.min.js"></script>

<div id="content" class="row" ng-app="contactApp">
    <div class="row" ng-controller="contactController">
      <form action='https://pledge.mayday.us/r/subscribe' method='post'>

        <div class="row">
          <div class="input-group input-group-lg">
		        <label>Email (required)</label>
            <input id='email_input' type="email" required name="email" class="form-control">
          </div>
        </div>

        <div class="row">
           <div class="input-group input-group-lg">
		     <label>First Name</label>
            <input type="text" name="first_name" class="form-control">
          </div>
        </div>

        <div class="row">
           <div class="input-group input-group-lg">
		     <label>Last Name</label>
            <input type="text" name="last_name" class="form-control">
          </div>
        </div>

        <div class="row">
           <div class="input-group input-group-lg">
		     <label>Zipcode</label>
            <input type="text" name="zipcode" class="form-control">
          </div>
        </div>

        <div class="row">
           <div class="input-group input-group-lg">
		     <label class="checkbox"><input type="checkbox" name="volunteer" class="form-control" onclick="document.getElementById('skills_section').style.display = 'block';"> Are You Able to Volunteer?</label>
          </div>
        </div>

        <div id="skills_section" class="row" style="display:none">
           <div class="input-group input-group-lg">
		     <label><input type="text" name="skills" class="form-control" maxlength="254"> Do you have any specific skills that can help us with organizing? (Both technical and non-technical!)</label>
          </div>
        </div>

        <div class="row">
           <div class="input-group input-group-lg">
		     <label class="checkbox"><input type="checkbox" name="rootstrikers" class="form-control"> Would you like to also subscribe to the Rootstrikers Mailinglist?</label>
          </div>
        </div>

        <div ng-show="! ctrl.spinning" class="row">
           <span class="input-group-btn">
              <button id="submitButton" type="submit" class="btn btn-primary">Subscribe</button>
            </span>
        </div>

        <div ng-show="ctrl.spinning" class="row">
          <div id="spinButton" class="spacing" style="position:relative;"></div>
        </div>

        <div ng-show="ctrl.error" class="edd_errors row">
          <p id="error"></p>
        </div>

      </form>

    </div>
</div>
<script>
   var email = location.search.split('email=')[1]; // http://stackoverflow.com/questions/979975/how-to-get-the-value-from-url-parameter
   var email_input = document.getElementById("email_input");
   email_input.value=encodeURIComponent(email);
</script>
