<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" id="googlefonts-css" type="text/css" media="all" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Lato:400,700&amp;subset=latin" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
      <link rel="stylesheet" href="{{ site.baseurl}}/css/sidebar.css " />
    <meta property="og:image" content="{{ fb_title }}">
  
    <meta property="og:image" content="}https://mayday.us/images/share_preview.jpg"/>
    <meta property="og:title" content="Look who just joined Mayday! Listen to what Jason Alexander has to say about #MAYDAY"/>
    <meta property="og:description" content="You know Jason Alexander as “George” from Seinfeld, but I know him as an activist working with many to get Americans to focus on our need to get our democracy back... The idea of “a Super PAC to end all Super PACs” is magic to a frustrated and angry America. We just need to get them to focus on it for a minute, and then we will get their support."/>
  
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


     ga('create', 'UA-50367295-1', 'mayday.us');
     ga('require', 'displayfeatures');
     ga('send', 'pageview');

    </script>
  </head>

  <body id="{{page.cssid}}">
    {{ content }}
  </body>
</html>
