<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{page.cssid}}">
	{% include header.html %}
		  <!--Container for Head-->
	<div class="rally full-width">  	
	<div class="container">
		 <div class="row">
		          <div class="subpage-content col-md-8">
		          <div style="text-align:right;"><a href="/feed.xml"><img src="/images/rss.png"></a></div>
		          	<h1>{{ page.title }}</h1>
		          		<H5>{{ page.author }}&nbsp;&mdash;&nbsp;{{ page.pubdate }}</H5>
		          		{{content | markdownify}}
		          		<BR /><Hr />
		          		{% if page.comments %}
 							 {% include discus_code.html %}
						{% endif %}

		          		<br /><hr />
		          		<H3>Other posts:</H3>
							<ul>
								{% for post in site.posts %}
								  <LI>
								    <a href="{{ post.url }}">{{ post.pubdate}}&nbsp;&mdash;&nbsp;{{ post.title }}</a>
								   </LI>
							   {% endfor %}
							</ul>

					</div>
		          <div class="col-md-4">{% include pledgeform.html %}</div>
		      </div>
		  
		</div>
		</div>

		{% include footer.html %}
		  <!-- /container -->


		    <!-- Bootstrap core JavaScript
		    ================================================== -->
		    <!-- Placed at the end of the document so the pages load faster -->
{% include pledgeSubpage.html %}
		  </body>
</html>


