<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Mayday PAC</title>
	<meta name="keywords" content="Super PAC to get money out of politics." />
	<meta name="description" content="Help us reduce the influence of money in politics and pledge today!" />

  <meta name="viewport" content="width=768" />
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <meta property="og:url" content="https://mayday.us{{ page.url }}"/>
    <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}
  https://mayday.us/images/share_preview.jpg{% endif %}"/>
    <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}MAYDAY: Democracy needs an upgrade. Act now.{% endif %}"/>
    <meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}Money has corrupted politics. We’re kickstarting a political experiment big enough to win a Congress committed to fundamental reform -- Join us!{% endif %}"/>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial" />

	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/v9green.css?2" />

	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.optimizely.com/js/210578001.js"></script>

	<!-- amazingcarousel -->
    <script src="../js/carouselengine/amazingcarousel.js?8hw837rgh9w8g"></script>
    <script src="../js/carouselengine/initcarousel-1.js?8hw837rgh9w8g"></script>
    <link rel="stylesheet" type="text/css" href="../js/carouselengine/initcarousel-1.css?8hw837rgh9w8g">
	<!-- // amazingcarousel -->

	<script src="../js/v8.js?6"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');


		ga('create', 'UA-50367295-1', 'mayday.us');
		ga('require', 'displayfeatures');
		window.optimizely = window.optimizely || [];
		window.optimizely.push("activateUniversalAnalytics");
		ga('send', 'pageview');
	</script>
</head>

<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=536274183102717&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

	<header id="header">
		<div class="wrap clearfix">
			<blockquote>electing a Congress committed to fundamental reform by 2016</blockquote>
			<a href="/" title="Mayday PAC" class="logo ir">MAYDAY PAC</a>
		</div>
	</header>

      <section id="preheader">
    	<div style="padding:10px; text-align:center; background-color:#f9fbfc; color:#000066; font-size:16px;" class="wrap clearfix">
        <form action="https://pledge.mayday.us/r/subscribe" method="post">Stay tuned for updates: 
          <input type="hidden" name="redirect" value="https://mayday.us/subscribe/" />
          <input type="hidden" name="source" value="frontpage" />
          <input name="email" type="text" placeholder="yourname@email.com" />
          <button class="lilbutton" type="submit" value="subscribe" title="Submit Email" onSubmit="_gaq.push(['_trackEvent', 'Form', 'Submit', 'Front Page Email']);">Subscribe
          </button>
        </form>
      </div>
		</div>
    </section>
          <section name="preheader">
    	<div style="padding:10px; text-align:center; color:background-color:#f9fbfc; color:#0066FF; font-size:12px;" class="wrap clearfix">
    	Join us for a live conversation with Lawrence Lessig and Ben Wikler on Thursday June 10th at 9 p.m. EST / 6 p.m. PST.<BR><BR><a href="/calltime">Submit your questions here.</a>
      </div>
		</div>
    </section>


	<div id="splash">
			<img width="100%" src="/images/didit.jpg">
	</div>

	<div id="subheader">
		<div class="wrap clearfix">
			<div class="pull-left content">
				<h1>Help us reduce the influence of money in politics!</h1>
				<a href="/newpledge" class="button arrow">Donate Now</a>
				<p style="font-size:20px;"><strong><a href="/2014/07/04/LessigsLetter/">Thank you for helping us reach our goal, and for your continued support.</a></strong></p>

			</div>
			<div class="pull-right aside nav">
				<dl>
					<dt id="numPledges">Over 46,000</dt>
					<dd>citizen-contributors</dd>
				</dl>
				<dl>
					<dt id="totalAmount">&gt; $5,000,000</dt>
					<dd>from large and small donations<BR>to fight corruption</dd>
				</dl>
				<dl class="last">
					<dt id='daysLeft'>14</dt>
					<dd>until election day</dd>
				</dl>
			</div>
		</div>
	</div>

	<section id="breadcrumbs">
		<ul id="subnav" class="nav">
			<li><a href="#about-mayday">About</a></li>
			<li><a href="#fixing-democracy">Fixing Democracy</a></li>
			<li><a href="#supporters">Our Supporters</a></li>
			<li><a href="#help-us">Tools to Help</a></li>
		</ul>
	</section>

	<section id="videobox">
		<div class="wrap">
			<iframe class="video" width="642" height="361" src="//www.youtube.com/embed/i3X2eDCmPRY?rel=0" frameborder="0" allowfullscreen></iframe>
			<p>In May and June of 2014, the Mayday Political Action Committee launched a bold experiment. We appealed to the citizens directly to raise the money we need to get a Congress committed to fundamental reform.</p>

			<p>That experiment was a wild success.</p>

			<p>Now comes the tough part - fighting to elect representatives who will fix the broken system of corruption in Washington.</p>

			<P><a href="/the-plan">Here's our plan to do it.</a></P>

			<div class="share-buttons clearfix">
				<div class="share-twitter">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
          <div class="fb-like" data-href="https://www.facebook.com/MAYDAYdotUS" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</div>
		</div>
	</section>

	<section id="about-mayday">
		<div class="wrap">
			<h3 class="title-caption">About the MayDay PAC</h3>
			<h2>We are a crowdfunded Super PAC to end all Super PACs*</h2>
			<H6>* yes, including ourselves.</H6>
			<P>We are using the power of citizen-funded big money to fight the big money of crony capitalists and special interests on both the left <em>and</em> the right.</P>
			<p>Ironic? Yes. Embrace the irony.</p>
			
			<p style="color: #c33;"></p>
			<div class="btn-group">
				<a href="/newpledge" class="button arrow">Donate</a>
			</div>
						
		</div>
	</section>

	<section id="running-time">
		<div class="wrap">
			<h3 class="title-caption">Our Mission</h3>
			<h2>A Congress Dedicated to Fundamental Reform by 2016.</h2>

			<div class="goals nav clearfix">
				<dl>
					<dd class="circle checked"></dd>
					<dt>Where We've Been</dt>
					<dd>We launched two crowdfunded campaigns. We met our first $1M goal in only 13 days. That $1M was matched by technology entrepeneurs from all sides of the political debate.<BR><BR>In June, we set an even larger $5M goal, which over 48,500 of you stepped forward to meet.</dd>
				</dl>
				<dl>
					<dd class="circle border-xxl"></dd>
					<dt>Where We're Going</dt>
					<dd>Now the <em>hard</em> part: We're picking key Congressional districts and will independently support reform-minded candidates in their efforts to remove opponents who defend the ways of DC. <BR><BR> We will not only win those races, but do it in a way that it is clear to all observers that the issue of corruption turned the tide of the election.</dd>
				</dl>
			</div>
			<P><a href="/blog">Stay tuned to our blog for upcoming announcements.</a></P>
		</div>
	</section>

	<section id="fixing-democracy">
		<div class="wrap">
			<h3 class="title-caption">Fixing democracy</h3>
			<h2>The funders of campaigns are holding our democracy hostage.</h2>
			<p>We need a Congress that will fundamentally change the way elections are funded, and through that change, reduce the stranglehold of big money in our politics.</p>
			<p>The reform we support will eliminate the conflict of interest between Congress's duty to serve <em>the people</em> and incentive to serve <em>the funders</em> by making the citizens the funders &mdash; <strong>Citizen-Funded Campaigns</strong>. </p>
			<p>Through citizen-funded campaigns we can get Congress working for us again, without restricting anyone's right to free speech. (Or, for that matter, expensive speech.) We would not need to replace the sitting Justices of the Supreme Court or amend the Constitution&hellip; at least not to get the basic machinery of government working again.</p>
			<div class="btn-group">
				<a href="/newpledge" class="button arrow">Donate Now</a>
			</div>
			<P><a href="/ways">Here's how you can help.</a></P>
		</div>
	</section>

	<section id="supporters">
		<div class="wrap">
			<h3 class="title-caption">Our supporters</h3>
			<h2>Mayday PAC Supporters</h2>

			<!-- Insert to your webpage where you want to display the carousel -->
			<div id="amazingcarousel-container-1">
				<div id="amazingcarousel-1" style="display:block;position:relative;width:100%;max-width:720px;margin:0px auto 0px;">
					<div class="amazingcarousel-list-container" style="overflow:hidden;">
						  <ul class="amazingcarousel-list">
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/NJa6ClnFe-s" title="Steve Wozniak for Mayday.US"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/NJa6ClnFe-s.jpg"  alt="Steve Wozniak for Mayday.US" /></a></div>
<div class="amazingcarousel-title">Steve Wozniak for Mayday.US</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/O1z-2CiAMO8" title="Join Joseph Gordon-Levitt to Support MAYDAY PAC"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/O1z-2CiAMO8.jpg"  alt="Join Joseph Gordon-Levitt to Support MAYDAY PAC" /></a></div>
<div class="amazingcarousel-title">Join Joseph Gordon-Levitt to Support MAYDAY PAC</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/VNyBvePOrPQ" title="Jason Alexander is the #MaydayPAC - and so are all of us. http://mayday.us/"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/VNyBvePOrPQ.jpg"  alt="Jason Alexander is the #MaydayPAC - and so are all of us. http://mayday.us/" /></a></div>
<div class="amazingcarousel-title">Jason Alexander is the #MaydayPAC - and so are all of us. http://mayday.us/</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/OCnRxgfV5ps" title="Reform"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/OCnRxgfV5ps.jpg" alt="Reform" /></a></div>
<div class="amazingcarousel-title">"Reform" by BetterQuest</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/r3Uiss5h-zU" title="Mayday.us:  The Super PAC to End All Super PACs"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/r3Uiss5h-zU.jpg"  alt="Mayday.us:  The Super PAC to End All Super PACs" /></a></div>
<div class="amazingcarousel-title">Mayday.us:  The Super PAC to End All Super PACs</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/M2Hobboq2sU" title="I Am the May Day: Founder, Innotech Summit Supports the MayDay Campaign"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/M2Hobboq2sU.jpg"  alt="I Am the May Day: Founder, Innotech Summit Supports the MayDay Campaign" /></a></div>
<div class="amazingcarousel-title">I Am the May Day: Founder, Innotech Summit Supports the MayDay Campaign</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/kv2Vt_4HSL8" title="PACs a Punch! 100% normal MIT Genius backs #MaydayPAC"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/kv2Vt_4HSL8.jpg"  alt="PACs a Punch! 100% normal MIT Genius backs #MaydayPAC" /></a></div>
<div class="amazingcarousel-title">PACs a Punch! 100% normal MIT Genius backs #MaydayPAC</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/-1BRkdgApS0" title="Mayday.US: We get the cynicism, but we don&apos;t buy it."  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/-1BRkdgApS0.jpg"  alt="Mayday.US: We get the cynicism, but we don&apos;t buy it." /></a></div>
<div class="amazingcarousel-title">Mayday.US: We get the cynicism, but we don't buy it.</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="http://www.youtube.com/embed/vyll3_DewYc" title="Mayday.US - We won&apos;t make progress on any issue until we take on Corruption."  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/vyll3_DewYc.jpg"  alt="Mayday.US - We won&apos;t make progress on any issue until we take on Corruption." /></a></div>
<div class="amazingcarousel-title">Mayday.US - We won't make progress on any issue until we take on Corruption.</div>                    </div>
                </li>
            </ul>
					</div>
					<div class="amazingcarousel-prev"></div>
					<div class="amazingcarousel-next"></div>
					<div class="amazingcarousel-nav"></div>
					<div class="amazingcarousel-engine" style="display:none;"><a href="http://amazingcarousel.com">JavaScript Carousel</a></div>
				</div>
			</div>
			<!-- End of body section HTML codes -->
				<P><a href="/videos">View all videos here</a></P>
		</div>
	</section>

	<section id="help-us">
		<div class="wrap">
			<h3 class="title-caption">How to help</h3>
			<h2>Don't (just) get mad. Get together.</h2>
			<p>We want you to join our nationwide community and take action locally.</p> 
			<P>Keep checking this web page not just for updates about the campaign, but new tools that we can develop and deploy to fight corruption.</p>
		</div>

		<div class="colls nav clearfix">
			<div class="coll connect">
				<h4>Connect</h4>
				<ul>
					
					<li><a href="https://www.facebook.com/groups/282646648577039/">Join our Facebook Group</a></li>
					<li><a href="https://twitter.com/MAYDAYUS">Join the conversation on Twitter</a></li>
					<li><a href="/blog">Learn the latest news from our blog</a></li>
					<li><a href="//maydaypac.reddit.com/">Post &amp; particpate in the /r/MaydayPAC Subreddit</a></li>
				</ul>
			</div>
			<div class="coll share">
				<h4>Share</h4>
				<ul>
					<li><a href="https://twitter.com/home?status=We're%20taking%20on%20corruption%20with%20YOUR%20help.%20https://mayday.US%20%23MaydayPAC" class="twitter">Twitter</a></li>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://mayday.us/" class="facebook">Facebook</a></li>
					<li><a href="mailto:?subject=Help Reduce the influence of money in politics. &body=The Mayday Political Action Committee is crowdsourcing the money it needs to get a Congress committed to fundamental reform by 2016. This is our first essential step.  Will you join me by going to https://mayday.us?" class="email">Email</a></li>
				</ul>
			</div>
			<div class="coll pledge">
				<h4>Contribute</h4>
				<a href="/newpledge" class="button arrow">Donate</a>
			</div>
		</div>

		<ul class="navigation nav">
			<li><a href="https://my.mayday.us/login" id="mysuperpac_topmenu">My SuperPAC</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/media">Press</a></li>
			<li><a href="/ways">Ways to Help</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/the-plan">Plan Details</a></li>
			<li><a href="/your-donations">Data Analysis</a></li>
		</ul>

		<div class="disclaimer">Paid for by Mayday PAC. Not authorized by any candidate or candidate's committee.  <a href="/">mayday.us</a></div>

		<div class="copyright">© 2014 Mayday PAC<br>Some Rights Reserved <a href="http://creativecommons.org/licenses/by-sa/4.0"><img src="../images/80x15.png" /></a>
		</div>
	</section>

	<script>
		// Sticky subnav
		makeStickyNavi();
		$(window).scroll(function() {
			makeStickyNavi();
		});
		function makeStickyNavi() {
			if($("#breadcrumbs").position().top <= $(window).scrollTop()) {
				$("body").addClass("fixed-navigation");
			} else {
				$("body").removeClass("fixed-navigation");
			}
		}
		// Sticky subnav - end
	</script>

	<!-- Markup by Elegant Division (http://e-div.com) -->
         
</body>
</html>
