<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Mayday PAC</title>
	<meta name="keywords" content="Super PAC to get money out of politics." />
	<meta name="description" content="Help us reduce the influence of money in politics and pledge today!" />

  <meta name="viewport" content="width=768" />
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <meta property="og:url" content="https://mayday.us{{ page.url }}"/>
    <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}
  https://mayday.us/images/share_preview.jpg{% endif %}"/>
    <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}MAYDAY: Democracy needs an upgrade. Act now.{% endif %}"/>
    <meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}Money has corrupted politics. We’re kickstarting a political experiment big enough to win a Congress committed to fundamental reform -- Join us!{% endif %}"/>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial" />

	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/v9green.css?2" />

	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.optimizely.com/js/210578001.js"></script>

	<!-- amazingcarousel -->
    <script src="../js/carouselengine/amazingcarousel.js?8hw837rgh9w8g"></script>
    <script src="../js/carouselengine/initcarousel-1.js?8hw837rgh9w8g"></script>
    <link rel="stylesheet" type="text/css" href="../js/carouselengine/initcarousel-1.css?8hw837rgh9w8g">
	<!-- // amazingcarousel -->

	<script src="../js/v8.js?5"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');


		ga('create', 'UA-50367295-1', 'mayday.us');
		ga('require', 'displayfeatures');
		window.optimizely = window.optimizely || [];
		window.optimizely.push("activateUniversalAnalytics");
		ga('send', 'pageview');
	</script>
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=536274183102717&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
	<header id="header">
		<div class="wrap clearfix">
			<blockquote>electing a Congress committed to fundamental reform by 2016</blockquote>
			<a href="/" title="Mayday PAC" class="logo ir">MAYDAY PAC</a>
		</div>
	</header>

	<div id="subheader">
		<div class="wrap clearfix">
			<div class="pull-left content">
				<h1>Help us reduce the influence of money in politics!</h1>
				<a href="/newpledge" class="button arrow">Pledge Now</a>
				<p>We keep your money only if we meet our goal.</p>
			</div>
			<div class="pull-right aside nav">
				<dl>
					<dt id="numPledges">23000+</dt>
					<dd>pledges</dd>
				</dl>
				<dl>
					<dt id='totalAmount'>loading...</dt>
					<dd>pledged of $5,000,000 goal</dd>
				</dl>
				<dl class="last">
					<dt id='daysLeft'>14</dt>
					<dd>time remaining to pledge</dd>
				</dl>

				<p class="why-deadline">... as long as it's 4th of July somewhere in the Union (THANK YOU, Hawaii!)</p>
				<p class="why-deadline"><a href="#running-time">Why the deadline?</a></p>

			</div>
		</div>
	</div>

	<section id="breadcrumbs">
		<ul id="subnav" class="nav">
			<li><a href="#about-mayday">About</a></li>
			<li><a href="#fixing-democracy">Fixing Democracy</a></li>
			<li><a href="#supporters">Our Supporters</a></li>
			<li><a href="#help-us">How to Help</a></li>
			<li><a href="https://my.mayday.us/login">Your Pledge Page</a></li>
		</ul>
	</section>

	<section id="videobox">
		<div class="wrap">
			<iframe class="video" width="642" height="361" src="//www.youtube.com/embed/i3X2eDCmPRY?rel=0" frameborder="0" allowfullscreen></iframe>
			<p>The Mayday Political Action Committee is crowdsourcing the money it needs to get a Congress committed to fundamental reform by 2016. This is our first essential step.</p>

			<div class="share-buttons clearfix">
				<div class="share-twitter">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
          <div class="fb-like" data-href="https://www.facebook.com/MAYDAYdotUS" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</div>
		</div>
	</section>

	<section id="about-mayday">
		<div class="wrap">
			<h3 class="title-caption">About the MayDay PAC</h3>
			<h2>We are a crowdfunded Super PAC to end all Super PACs.</h2>
			<p>Ironic? Yes. Embrace the irony.</p>
			<p>We’re kickstarting a Super PAC big enough to make it possible to win a Congress committed to fundamental reform by 2016. We set fundraising goals and then crowdfund those goals.</p>
			<p style="color: #c33;">We only keep your pledge if we hit our goal.</p>
			<div class="btn-group">
				<a href="/newpledge" class="button arrow">Pledge Now</a>
			</div>
		</div>
	</section>

	<section id="running-time">
		<div class="wrap">
			<h3 class="title-caption">Time is running out</h3>
			<h2>We have until the 4th of July to reclaim our democracy</h2>

			<div class="goals nav clearfix">
				<dl>
					<dd class="circle checked"></dd>
					<dt>$1Million</dt>
					<dd>In May, we set a goal of raising $1 million dollars. We surpassed that goal in two weeks. And we secured a match from individual donors, totalling over $2 million in Stage One.</dd>
				</dl>
				<dl>
					<dd class="circle border-xxl"></dd>
					<dt>$5Million</dt>
					<dd>Now, we’ve set an even more ambitious goal. Starting June 4, we’re aiming to raise a total of $5 million by July 4.  And if we meet that goal, we'll get it matched, for a total of $12 million raised.  That will allow us to execute the first part of <a href="/the-plan">our plan</a> to  elect a congress committed to fundamental reform by 2016.</dd>
				</dl>
			</div>
		</div>
	</section>

	<section id="fixing-democracy">
		<div class="wrap">
			<h3 class="title-caption">Fixing democracy</h3>
			<h2>The funders of campaigns are holding our democracy hostage.  We want to pay the ransom and get it back.</h2>
			<p>We need a team of legislators in Congress who will champion the public policies necessary to fix our broken government, starting by ending the stranglehold of big money on our political system.
			<p>For 2014, our goal is to create a $12 million fund. With that money, we will make fundamental reform the key issue in five congressional races. And win.</p>
			<p>Then we’ll apply what we learn to 2016 — when we’ll run a much much bigger campaign in many more districts for this one purpose:  to win a Congress committed to fundamental reform.</p>
			<p>You can read about <a href="/the-plan">our plan in more detail</a>.</p>
			<div class="btn-group">
				<a href="/newpledge" class="button arrow">Pledge Now</a>
			</div>
		</div>
	</section>

	<section id="supporters">
		<div class="wrap">
			<h3 class="title-caption">Our supporters</h3>
			<h2>Mayday PAC Supporters</h2>

			<!-- Insert to your webpage where you want to display the carousel -->
			<div id="amazingcarousel-container-1">
				<div id="amazingcarousel-1" style="display:block;position:relative;width:100%;max-width:720px;margin:0px auto 0px;">
					<div class="amazingcarousel-list-container" style="overflow:hidden;">
						  <ul class="amazingcarousel-list">
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/NJa6ClnFe-s" title="Steve Wozniak for Mayday.US"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/NJa6ClnFe-s.jpg"  alt="Steve Wozniak for Mayday.US" /></a></div>
<div class="amazingcarousel-title">Steve Wozniak for Mayday.US</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/O1z-2CiAMO8" title="Join Joseph Gordon-Levitt to Support MAYDAY PAC"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/O1z-2CiAMO8.jpg"  alt="Join Joseph Gordon-Levitt to Support MAYDAY PAC" /></a></div>
<div class="amazingcarousel-title">Join Joseph Gordon-Levitt to Support MAYDAY PAC</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/VNyBvePOrPQ" title="Jason Alexander is the #MaydayPAC - and so are all of us. https://mayday.us/"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/VNyBvePOrPQ.jpg"  alt="Jason Alexander is the #MaydayPAC - and so are all of us. https://mayday.us/" /></a></div>
<div class="amazingcarousel-title">Jason Alexander is the #MaydayPAC - and so are all of us. https://mayday.us/</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/OCnRxgfV5ps" title="Reform"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/OCnRxgfV5ps.jpg" alt="Reform" /></a></div>
<div class="amazingcarousel-title">"Reform" by BetterQuest</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/r3Uiss5h-zU" title="Mayday.us:  The Super PAC to End All Super PACs"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/r3Uiss5h-zU.jpg"  alt="Mayday.us:  The Super PAC to End All Super PACs" /></a></div>
<div class="amazingcarousel-title">Mayday.us:  The Super PAC to End All Super PACs</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/M2Hobboq2sU" title="I Am the May Day: Founder, Innotech Summit Supports the MayDay Campaign"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/M2Hobboq2sU.jpg"  alt="I Am the May Day: Founder, Innotech Summit Supports the MayDay Campaign" /></a></div>
<div class="amazingcarousel-title">I Am the May Day: Founder, Innotech Summit Supports the MayDay Campaign</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/kv2Vt_4HSL8" title="PACs a Punch! 100% normal MIT Genius backs #MaydayPAC"  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/kv2Vt_4HSL8.jpg"  alt="PACs a Punch! 100% normal MIT Genius backs #MaydayPAC" /></a></div>
<div class="amazingcarousel-title">PACs a Punch! 100% normal MIT Genius backs #MaydayPAC</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/-1BRkdgApS0" title="Mayday.US: We get the cynicism, but we don&apos;t buy it."  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/-1BRkdgApS0.jpg"  alt="Mayday.US: We get the cynicism, but we don&apos;t buy it." /></a></div>
<div class="amazingcarousel-title">Mayday.US: We get the cynicism, but we don't buy it.</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="//www.youtube.com/embed/vyll3_DewYc" title="Mayday.US - We won&apos;t make progress on any issue until we take on Corruption."  class="html5lightbox" data-group="amazingcarousel-1"><img src="/images/carouselengine/vyll3_DewYc.jpg"  alt="Mayday.US - We won&apos;t make progress on any issue until we take on Corruption." /></a></div>
<div class="amazingcarousel-title">Mayday.US - We won't make progress on any issue until we take on Corruption.</div>                    </div>
                </li>
            </ul>
					</div>
					<div class="amazingcarousel-prev"></div>
					<div class="amazingcarousel-next"></div>
					<div class="amazingcarousel-nav"></div>
					<div class="amazingcarousel-engine" style="display:none;"><a href="http://amazingcarousel.com">JavaScript Carousel</a></div>
				</div>
			</div>
			<!-- End of body section HTML codes -->

		</div>
	</section>

	<section id="help-us">
		<div class="wrap">
			<h3 class="title-caption">How to help</h3>
			<h2>Please help now!</h2>
			<p>Help us celebrate a true Independence Day by pledging what you can so that we<br />
			can declare independence from a broken political system.</p>
		</div>

		<div class="colls nav clearfix">
			<div class="coll connect">
				<h4>Connect</h4>
				<ul>
					<li><a href="https://www.facebook.com/groups/282646648577039/">Join our Facebook Group</a></li>
					<li><a href="https://twitter.com/MayOneUS">Join the conversation on Twitter</a></li>
				</ul>
			</div>
			<div class="coll share">
				<h4>Share</h4>
				<ul>
					<li><a href="https://twitter.com/home?status=Help%20us%20celebrate%20a%20true%20Independence%20Day!%20Pledge%20what%20you%20can.%20Declare%20independence%20from%20a%20broken%20political%20system!%20https://mayday.us" class="twitter">Twitter</a></li>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://mayday.us/" class="facebook">Facebook</a></li>
					<li><a href="mailto:?subject=Help Reduce the influence of money in politics. &body=The Mayday Political Action Committee is crowdsourcing the money it needs to get a Congress committed to fundamental reform by 2016. This is our first essential step.  Will you join me by going to https://mayday.us?" class="email">Email</a></li>
				</ul>
			</div>
			<div class="coll pledge">
				<h4>Pledge</h4>
				<a href="/newpledge" class="button arrow">Pledge Now</a>
			</div>
		</div>

		<ul class="navigation nav">
			<li><a href="https://my.mayday.us/login" id="mysuperpac_topmenu">My SuperPAC</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/media">Press</a></li>
			<li><a href="/ways">Ways to Help</a></li>
			<li><a href="/embed">Get My Social Buttons</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/the-plan">Plan Details</a></li>
			<li><a href="/your-donations">Your Donations</a></li>
		</ul>

		<div class="disclaimer">Paid for by Mayday PAC. Not authorized by any candidate or candidate's committee.  <a href="/">mayday.us</a></div>

		<div class="copyright">© 2014 Mayday PAC<br>Some Rights Reserved <a href="http://creativecommons.org/licenses/by-sa/4.0"><img src="../images/80x15.png" /></a>
		</div>
	</section>

	<script>
		// Sticky subnav
		makeStickyNavi();
		$(window).scroll(function() {
			makeStickyNavi();
		});
		function makeStickyNavi() {
			if($("#breadcrumbs").position().top <= $(window).scrollTop()) {
				$("body").addClass("fixed-navigation");
			} else {
				$("body").removeClass("fixed-navigation");
			}
		}
		// Sticky subnav - end
	</script>

	<!-- Markup by Elegant Division (http://e-div.com) -->
</body>
</html>
